#include "config.hpp"

String api_url = "http://sensorbreiten.ml/api";

String station_api_key = "";

String local_wifi_ssid = "SENSORBREITEN_STATION";
String local_wifi_password = "12345678";

String wifi_ssid = "";
String wifi_password = "";
